
body{
    background-image: url(/img/stardust.png);
}

div.navbar-spacer{
    width:100%;
    height:41px;
    display:block;
}

div.remember {
    margin-top: 7px;
    color: #969696;
}

div.remember label {
    padding-top: 15px;
}

div.forgot {
    margin-top: 7px;
    color: #dadada;
}

footer {
    background: url("../img/feature-gradient.png") no-repeat scroll center 100% white;
    color: #B7B7B7;
    font-size: 12px;
    padding: 30px 0;
    text-align: center;
}

footer a {
    margin-left: 10px;
    margin-right: 10px;
}

table.signup td {
    padding: 10px;
}

table.signup .alert {
    margin-bottom: 0;
    margin-top: 3px;
}

table.perms select {
    margin-top: 5px;
    margin-right: 10px;
}

table.perms label {
    margin-right: 10px;
}

div.main-container {
    min-height: 450px;
}

div.city-intro-1{
    background-image: url('/img/intro/city-intro-1.png');
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    height: 450px;
}
div.city-intro-2{
    background-image: url('/img/intro/city-intro-2.png');
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    height: 450px;
    display:none;
}
div.city-intro-3{
    background-image: url('/img/intro/city-intro-3.png');
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    height: 450px;
    display:none;
}
div.city-intro-4{
    background-image: url('/img/intro/city-intro-4.png');
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    height: 450px;
    display:none;
}
div.city-intro-5{
    background-image: url('/img/intro/city-intro-5.png');
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    height: 450px;
    display:none;
}

div.map{
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    width:1000px;
    height:500px;
    position:relative;
    z-index:5;
}

div.character{
    background-position: center center;
    background-repeat: no-repeat;
    width: 33px;
    height: 33px;
    position: absolute;
    z-index:20;
    cursor: pointer;
}

div.building{
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    z-index:10;
    background-size: cover;
    cursor: pointer;
}

div.layer{
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
}

div.worldmap{
    width: 1000px;
    height: 600px;
    position: relative;
}

div.worldmap a.minimap{
    position:absolute;
    width: 50px;
    height: 26px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
}

div.worldmap span.extra-home{
    position:absolute;
    display:block;
    width:50px;
    height:25px;
    cursor:pointer;
}

div.worldmap span.extra-home i{
    font-size: 20px;
    color: rgb(231, 248, 249);
    text-shadow: 1px 1px 1px black;
    position: relative;
    top: -20px;
}

.navbar .brand{
    margin-left: 0px;
}

.phalcon-info{
    width:200px;
    height:75px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}


.phalcon-info .text{
    width:98px;
    height:28px;
    display:block;
    background-image:url(/img/phalcon-text.png);
}

.phalcon-info .logo{
    width:82px;
    height:82px;
    display:block;
    background-image:url(/img/phalcon-logo.png);
}

div.front-banner{
    display:block;
    width:100%;
    height:170px;
    background-repeat: no-repeat;
    background-position: center center;
}
div.city-name h2{
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: white;
}
