
/*
* Guide
*/

#your-guide .guideMessage{
    position:absolute;
    display:block;
    background: white;
    border-radius: 3px;
}
#your-guide .guideMessage .fa{
    float: left;
    height: 100%;
    width: 40px;
    display: block;
    font-size: 26px;
    text-align: center;
    line-height: 44px;
    color: rgb(117, 110, 110);
    text-shadow: 1px 1px white, -1px -1px #131212;
}

#your-guide .guideMessage .message{
    line-height: 19px;
    position: relative;
    top: 9px;
}

#your-guide .guideMessage .bubble-pointer{
    position: absolute;
    width:52px;
    height:24px;
    bottom:-23px;
    left:50px;
    background-image: url(/img/bubble-pointer.png);
    display:block;
}

/*
* Map tiles
*/
.cityTile {
    display: block;
    width: 141px;
    height: 99px;
    position: absolute;
    font-size:8px;
}

.cityTile.hiddenTile{
    display:none;
}

.cityTile.clickable {
    cursor: pointer;
}

.cityTile.glassTile:hover {
    background-image: url(/img/tiles/glass-active.png) !important;
}

.cityTile.clickable.glass {
    cursor: pointer;
}

.transitionTopLeft{
    display: block;
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    top: -5px;
    left: -7px;
    background-position: center center;
}

.transitionTopRight{
    display: block;
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    top: -5px;
    left: 7px;
    background-position: center center;
}

/*
* Application
*/
body{
    background-image: url(/img/stardust.png);
}
.container {
    padding-right: 0px;
    padding-left: 0px;
}
div.navbar-spacer{
    width:100%;
    height:41px;
    display:block;
}

div.remember {
    margin-top: 7px;
    color: #969696;
}

div.remember label {
    padding-top: 15px;
}

div.forgot {
    margin-top: 7px;
    color: #dadada;
}

footer {
    background: url("../img/feature-gradient.png") no-repeat scroll center 100% white;
    color: #B7B7B7;
    font-size: 12px;
    padding: 30px 0;
    text-align: center;
}

footer a {
    margin-left: 10px;
    margin-right: 10px;
}

table.signup td {
    padding: 10px;
}

table.signup .alert {
    margin-bottom: 0;
    margin-top: 3px;
}

table.perms select {
    margin-top: 5px;
    margin-right: 10px;
}

table.perms label {
    margin-right: 10px;
}

div.main-container {
    min-height: 450px;
}

div.city-intro-1{
    background-image: url('/img/intro/city-intro-1.png');
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    height: 450px;
    box-shadow : 0px 0px 0px 0px;
    height: 512px;
}
div.city-intro-2{
    background-image: url('/img/intro/city-intro-2.png');
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    height: 450px;
    display:none;
}
div.city-intro-3{
    background-image: url('/img/intro/city-intro-3.png');
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    height: 450px;
    display:none;
}
div.city-intro-4{
    background-image: url('/img/intro/city-intro-4.png');
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    height: 450px;
    display:none;
}
div.city-intro-5{
    background-image: url('/img/intro/city-intro-5.png');
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    height: 450px;
    display:none;
}

div.map{
    background-position: center center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    width:1000px;
    height:500px;
    position:relative;
    z-index:5;
}

div.container div.buildingHolder{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    z-index: 10;
}

div.buildingHolder a.back{
    width:77px;
    height:81px;
    display:block;
    position:absolute;
    top: -31px;
    left: -62px;
    background-image: url(/img/icons/back-to-city.png);
    background-repeat: no-repeat;
    background-position: center center;
}

header.jumbotron{
    background-color: transparent;
    padding: 0px;
}

div.container div.buildingHolder div.controlsHolder{
    width: 600px;
    height: 400px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 10;
}

div.container div.buildingHolder .healthBar{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    display:block;
}


div.container div.buildingHolder h3{
    text-align: center;
}

div.character{
    background-position: center center;
    background-repeat: no-repeat;
    width: 33px;
    height: 33px;
    position: absolute;
    z-index:20;
    cursor: pointer;
}

div.building{
    background-position: center center;
    background-repeat: no-repeat;
    position: absolute;
    z-index:10;
    background-size: cover;
    cursor: pointer;
}

div.layer{
    width: 100%;
    height: 100%;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
}

div.worldmap{
    width: 1000px;
    height: 600px;
    position: relative;
}

div.worldmap a.minimap{
    position:absolute;
    width: 50px;
    height: 26px;
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
}

div.worldmap span.extra-home{
    position:absolute;
    display:block;
    width:50px;
    height:25px;
    cursor:pointer;
}

div.worldmap span.extra-home i{
    font-size: 20px;
    color: rgb(231, 248, 249);
    text-shadow: 1px 1px 1px black;
    position: relative;
    top: -20px;
}

.navbar .brand{
    margin-left: 0px;
}

.phalcon-info{
    width:200px;
    height:75px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}


.phalcon-info .text{
    width:98px;
    height:28px;
    display:block;
    background-image:url(/img/phalcon-text.png);
}

.phalcon-info .logo{
    width:82px;
    height:82px;
    display:block;
    background-image:url(/img/phalcon-logo.png);
}

div.front-banner{
    display:block;
    width:100%;
    height:170px;
    background-repeat: no-repeat;
    background-position: center center;
}
div.city-name h2{
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color: white;
}

div.buildingInfoHolder{
    width: 100%;
    height: 250px;
}

div.buildingInfoHolder div.buildingInfo{
    width:50%;
    height:100%;
    display:block;
    float:left;
}

div.buildingInfoHolder ul.buildingAttributes{
    font-weight:bold;
    list-style-type: none;
    padding:0;
    margin:0;
}
div.buildingInfoHolder ul li span{
    width:20px;
    height:20px;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    top: 4px;
}

div.buildingInfoHolder ul li span.resource-wood{
    background-image: url(/img/icons/wood-20x20.png);
}
div.buildingInfoHolder ul li span.resource-food{
    background-image: url(/img/icons/food-20x20.png);
}
div.buildingInfoHolder ul li span.resource-stone{
    background-image: url(/img/icons/stone-20x20.png);
}
div.buildingInfoHolder ul li span.resource-gold{
    background-image: url(/img/icons/gold-20x20.png);
}

div.buildingInfoHolder ul.buildingAttributes .sub{
    color:red;
}
div.buildingInfoHolder ul.buildingAttributes .add{
    color:green;
}

li.resources{
    padding-top: 3px;
}

li.resources span.resource{
    width: 25px;
    height: 35px;
    display: block;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    line-height: 35px;
    text-align: center;
    color: white;
    font-weight: bold;
}

li.resources span.resource-wood{
    background-image: url(/img/icons/wood-20x20.png);
}
li.resources span.resource-food{
    background-image: url(/img/icons/food-20x20.png);
}
li.resources span.resource-stone{
    background-image: url(/img/icons/stone-20x20.png);
}
li.resources span.resource-gold{
    background-image: url(/img/icons/gold-20x20.png);
}

#your-guide{
    width: 142px;
    height: 147px;
    left:-200px;
    top:500px;
    position: fixed;
    display:none;
    z-index: 50px;
}

#your-guide .tile-moon{
    width:142px;
    height: 195px;
    display:block;
    background: url(/img/tiles/guide-moon.png) no-repeat center center;
}

#your-guide .actor{
    width:100%;
    height:100%;
    display:block;
    background: url(/img/characters/guide.png) no-repeat top right;
}

div.buildingInfoHolder div.buildingInfoImage{
    width:50%;
    height:100%;
    display:block;
    float:left;
    background-repeat: no-repeat;
    background-position: center center;
}

.glass {
  width: 175px;
  height: 175px;
  position: absolute;
  border-radius: 50%;
  cursor: crosshair;

  /* Multiple box shadows to achieve the glass effect */
  box-shadow:
    0 0 0 7px rgba(255, 255, 255, 0.85),
    0 0 7px 7px rgba(0, 0, 0, 0.25),
    inset 0 0 40px 2px rgba(0, 0, 0, 0.25);

  /* hide the glass by default */
  display: none;
}
